<h1>Log In</h1>
<%= auth_token %>

<form action="<%= session_url %>" method="POST">
    <label for="email">Email</label>
    <input type="text" id="email" name="user[email]" value="<%= @user.email %>">
    <label for="password">Password</label>
    <input type="password" id="password" name="user[password]">
    <input type="submit" value="Log In">
</form>
